h1 {
  text-align: center;
  margin: auto;
}
nav {
  text-align: center;
}

nav a{
  padding-left: 10px;
  padding-right: 10px;
  background-color: gray;
}
body {
  width: 100%;
  height: 100%;
  margin: auto;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption{
  text-align: center;
}

#featured-property > p {
  text-align: center;
  margin: auto;
  width: 800px;
  padding: 10px;
}

#details div{
  display: block;
  background-color: red;
  text-align: center;  
  float: left;
  width: 25%;
  
}